@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
    outline: none;
    @apply font-bold text-lg;
}

*:focus {
    outline: none;
}